// Navigation Styles here
header {

    .nav {
        .flex(space-between, center); 
        border-bottom: 2px dashed darkgray;
        padding: 20px;


            a {
                margin: 15px;
                padding: 15px;
                font-size: 1.5rem;
                text-decoration: none;
                color: black;

                @media @mobile {
                    margin: 5px;
                    padding: 5px;
                }
            }

        @media @mobile {
            display: block;
            text-align: center;
        }        
    }
    
    .header-text {
        border-bottom: 2px dashed darkgray;
    }
}


