// Navigation Styles here
header {

    // max-width: 800px;
    // width: 100%;
    // margin: 0 auto;

    .nav {
        .flex(space-between, center); 
        border-bottom: 2px dashed darkgray;
        padding: 20px;

        nav {
            margin-right: 40px;

            a {
                margin: 15px;
                padding: 15px;
                font-size: 1.5rem;
                text-decoration: none;
                color: black;
            }
            
        }

    }
    
    .header-text {
        border-bottom: 2px dashed darkgray;
    }
}


